[submodule "org-doc-scripts"]
	path = org-doc-scripts
	url = https://github.com/alexb7711/org-doc-scripts.git
[submodule "citation-database"]
	path = citation-database
	url = https://github.com/alexb7711/citation-database.git
